/* Global styles  C */

body {
	margin: 0px;
	padding: 0px;
	/* background: #ccc; */
	/* background-image: url('../images/yello059.gif'); */
	background-image: url('../images/dio_bg.png');
}

h1 {	
	/* font: bold 30px "Kells"; small-caps 40px/40px "Times New Roman", serif; */
	font: small-caps 40px/40px "Times New Roman", serif;
	color: DarkBlue;
}

h2 {
	font: x-large "Times New Roman", serif;
	color: DarkBlue;		
}

h3 {
	font: large "Times New Roman", serif;
	color: DarkBlue;	
}

.clear {
	clear:	both;
}	
.clearleft {
	clear:	left;
}

/* Styles for main page */
#banner {
	clear: both;
	width: 800px;	
 	margin-left: auto;
  margin-right: auto;
	padding-top: 0.5em;	
	padding-bottom: 0.5em;
	background-image: url('../images/dblue179.jpg');
	/* background: #039; */
	/* border-bottom: 2px solid; */
	/* font: bold 30px "Kells"; small-caps 40px/40px "Times New Roman", serif; */
	font: small-caps 40px/40px "Times New Roman", serif; 
	color: white;
	text-align: center;
	/* border: 1px solid red; */
}

#footer {
	clear: both;
	width: 800px;	
	margin-left: auto;
  margin-right: auto;
	padding-bottom: 1em;
	background-image: url('../images/dblue179.jpg');
	/* background: #039; */
	border-top: 2px solid;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: small;
	color: white;
	text-align: center;
	/* border: 1px solid red; */
}

#banner_addr {
	color: white;
	font-size: small;
}

#banner_img {
	float:			left;
	margin-left: 20px;
}	

#banner_img img {
	height: 			  100px;
	vertical-align: top;
	/* border: 1px solid yellow; */
}

#columns {
	width: 800px;	
 	margin-left: auto;
  margin-right: auto;
  background-image: url('../images/dblue179.jpg');
	/* border: 1px solid red; */
}

#main {
	clear: both;
	padding-top: 0.5em;
	padding-left: 10px;
	padding-right: 10px;
	width: 780px;	
 	margin-left: auto;
  margin-right: auto;
	background: #eee;	
	/* border: 1px solid red; */
	/* border-top: 2px solid #66c; */
}

#side {
	clear: both;
	width: 800px;	
 	margin-left: auto;
  margin-right: auto;
	margin: 0px;
	padding: 0px;
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
	font: medium verdana,sans-serif; 
	/* border: 1px solid red; */
}

#nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav li {
	float: left;
	padding: .5em 1.5em .5em .5em;
	/* border-left: 1px solid white; */
}

#nav li.first {
	margin-left: 10px;
}

#nav a {
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: medium;
}

/* For transparent background in Welcome section */

div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  

div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:780px;
    /* opacity:0.6; */ /* transparency */  
    /* filter:alpha(opacity=60); */ /* IE transparency */  
		/* border: 1px solid red; */
}  

/* Styles for orgs */

#org_group dt > a {
	font: x-large "Times New Roman", serif;
	color: DarkBlue;
	background-color:#ddd;
	display: block;
}

#org_group dd {
	font-weight: normal;
	font-size: medium;
}

#org_list dt > a {
	font: large "Verdana", sans-serif;
	color: DarkBlue;
}

#org_list dd {
	font-weight: normal;
	font-size: medium;
}

#org_list dl {
	margin-left: 1em;
}

#admin_links {
	/* color:        #224; */
	color:				DarkBlue;
	font-weight:  lighter;
	font-size:    small;
}

/* Styles for Nav2 - second level navigation */

.nav2 {
	/* color:	#224; */
	color:	DarkBlue;
	font-weight:	lighter;
	font-size:		small;
}

.nav2  a{
	/* color:	#224; */
	color:	DarkBlue;
	font-weight:	lighter;
	font-size:		small;
}

/* Styles for General Info */

dt {
	font-weight:	bold;
}

#shift_right {
	margin-left:	2em;
}

table.grid {
	border: 1px sold #000;
	border-collapse: collapse;
	white-space:	normal;
	/* width: 100%; */
}

table.grid th {
	padding-right:	3em;
	text-align:			left;
	white-space:		normal; 
}

table.grid td {
	text-align:			left;
	white-space:		normal; 
}

table.stripe tr:nth-of-type(odd) {
  background-color:#ddd;
}


/* Styles for News Items */
.NewsItems {
	/* border: 1px solid red; */
}

.NewsItems img {
	max-width: 			780px;
	float:					left;
	padding-right: 	10px;
	padding-bottom: 10px;
}

/* Styles for Home Page */

#wrap {
	width: 780px;	
 	margin-left: auto;
  margin-right: auto;
	background: #eee;
	/* border: 1px solid red; */
}

#left {
	float: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 20px;
	width: 370px;	
	background: #eee;	
	/* border-top: 2px solid #66c; */
}

#right {
	float: right;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 390px;	
	background: #eee;	
	/* border-top: 2px solid #66c; */
}

.container {
	height: 1%;
	overflow: hidden;
}

#bulletins {
	float: left;
	width: 190px;
}

#readings {
	float: left;
	width: 160px;
}


/* START:form */
/* Styles for forms */

.field, .actions submit {
  font-size: medium;	
}

.field select, .field textarea, .field input, .field label {
  margin-left: 0.5em;
	font-size: medium;
}
.actions select, .actions textarea, .actions input, .actions label {
  margin-left: 0.5em;
	font-size: medium;
}

.sfxmw_form fieldset {
  background: #eef;
}

.sfxmw_form legend {
  color: #ddf;
  background: #114;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.sfxmw_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.sfxmw_form select, .sfxmw_form textarea, .sfxmw_form input {
  margin-left: 0.5em;
	font-size: medium;
}

.sfxmw_form .submit {
  margin-left: 4em;
}

.sfxmw_form div {
  margin: 0.5em 0;
}
/* END:form */

/* START:i18n */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}
/* END:i18n */


/* ********** For iPhone - set width or text will be too small to read ********** */
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{	
	body {
		width:	640px;
	}

	#banner_addr {
		display: none;
	}
}


/* ********** < 800px Wide or iPhone or iPad in Portrait mode ********** */
@media (max-width: 800px),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (max-device-width: 1024) and (orientation: portrait)
{	
	body {
		margin: 0px;
		padding: 0px;
	}
		
	#banner {
		font: small-caps "Times New Roman", serif;
		color: #fff;
		text-align: center;
		width: auto;
	}	
	
	#footer {
		width: auto;
	}
	
	#columns {
		margin: 0px;
		padding: 0px;
		width: auto;
	}	
	
	#main {
		clear:	both;
		margin-left: 0px; 
		border-right: none;
		width: auto;
	}
	
	#side {
		float:					none;
		/*
		padding-top: 		.5em;
		padding-bottom: .5em;
		*/
		margin: 0px;
		padding: 0px;
		width:					auto;
		font-family: 		verdana, arial, helvetica, sans-serif;
		/* text-align:			center; */
		/* font-family: 		"Times New Roman", Times, serif; */	
		background: 		#11a;
		/* border: 1px solid red; */
	}
		
	#side_img, #banner_img, #forms, #feedback, #links {
		display: none;
	}	

	#nav {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	#nav li {
		float: left;
		padding: .5em .5em .5em .5em;
		border-left: 1px solid white;
	}

	#nav li.first {
		border-left: 0px;
	}

}
