/* Global styles */

/* Styles for orgs/index */

#org_list table {
        border-collapse: collapse;
}

#org_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#org_list .list_image {
  width:        60px;
  height:       70px;
}

#org_list .list_description {
  width:        60%;
}

#org_list .list_description dl {
        margin: 0;
}

#org_list .list_description dt {
	color:        #224;
	font-weight:  bold;
	font-size:    larger;
}

#org_list dt {
	color:        #224;
	font-weight:  bold;
	font-size:    large;
}

#org_list dd {
	color:        #224;
	font-weight:  normal;
	font-size:    medium;
}

#admin_links {
	color:        #224;
	font-weight:  lighter;
	font-size:    x-small;
}

#org_list .list_description dd {
        margin: 0;
}

#org_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#org_list .list_line_even {
  background:   #f8f8e0;
}

#org_list .list_line_odd {
  background:   #f8f8b0;
}

/* Styles for main page */
#banner {
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #33c;
	text-align: center;
}

#footer {
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px solid;
	font-family: "Helvetica", serif;
	color: #66c;
	font-size: x-small;
	text-align: center;
}

#banner_spacer {
    float: left;	
}

#banner_addr {
	color: #66c;
	font-size: small;
}

/*
#banner img{
	float: left;
}
*/

#banner_left{
	float: left;
}

#banner_right{
	float: right;
}

#columns {
	background: #11a;
}

#main {
	margin-left: 11em;
	padding-top: 4em;
	padding-left: 2em;
	padding-right: 2em;
    border-right: 2px solid #11a; 
	/* background: white; */
	background: #ddd;
}

#side {
	clear: left;
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 10em;
	font-family: "Helvetica", serif;
	/* font-family: "Times New Roman", Times, serif; */	
	background: #11a;
}

#side a {
	color: #ddd;
	font-size: medium;
}	

#side p {
	color: #fff;
	font-size: medium;
}

/* START:form */
/* Styles for order form */

.sfxmw_form fieldset {
  background: #eef;
}

.sfxmw_form legend {
  color: #ddf;
  background: #114;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.sfxmw_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.sfxmw_form select, .sfxmw_form textarea, .sfxmw_form input {
  margin-left: 0.5em;
}

.sfxmw_form .submit {
  margin-left: 4em;
}

.sfxmw_form div {
  margin: 0.5em 0;
}
/* END:form */

/* START:i18n */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}
/* END:i18n */
