/* Global styles */


.clear {
	clear:	both;
}

/* Styles for main page */
#banner {
	background: #fff;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #33c;
	text-align: center;
}

#footer {
	/* clear: both; */
	background: #fff;
	border-top: 2px solid;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: small;
	color: #66c;
	text-align: center;
	/* border: 1px solid red; */
}

#banner_addr {
	color: #66c;
	font-size: small;
}

#banner_img {
	display: none;
}

#columns {
	background: #11a; 
	/* border-right: 2px solid #11a; */
	/* border: 1px solid red; */
}

#main {
 	margin-left: 160px; 
	padding-top: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
  border-right: 2px solid #11a;
	/* background: white; */
	background: #eee;	
}

#side {
	clear: 					both;
	float: 					left;
	padding-top: 		1em;
	padding-bottom: 1em;
	width: 					160px;
	font-family: 		verdana, arial, helvetica, sans-serif;
	/* text-align:			center; */
	/* font-family: 		"Times New Roman", Times, serif; */	
	background: 		#11a;
	/* border: 1px solid red; */
}

#side_img {
	float:					left;
	width:					150px;
	/* border: 1px solid yellow; */
}	

#side_img img {
	max-width:			150px;
	margin: 				0 auto;
	padding-left: 	5px;
	padding-right:	5px;
	padding-bottom: 1em;
}

#nav {
	list-style: none;
	margin: 0px;
	padding-left: 	1em;
	padding-right:	1em;
}

#nav li {
	padding-bottom: 1em;
}

#nav a {
	color: #ddd;
	font-size: medium;
}	

#nav p {
	color: #fff;
	font-size: medium;
}

/* Styles for orgs/index */

#org_list dt > a {
	color:			  #33c;
	font-weight:  bold;
	font-size:    large;
	margin: 			1em 0 .5em 0;
}

#org_list dd {
	color:        #555;
	font-weight:  normal;
	font-size:    medium;
}

#admin_links {
	color:        #224;
	font-weight:  lighter;
	font-size:    small;
}

/* Styles for Nav2 - second level navigation */

.nav2 {
	color:				#224;
	font-weight:	lighter;
	font-size:		small;
}

/* Styles for General Info */

h3 {
	color:	#33c;
}

dt {
	font-weight:	bold;
}

#shift_right {
	margin-left:	2em;
}

table.grid {
	border: 1px sold #000;
	border-collapse: collapse;
	white-space:	normal;
	/* width: 100%; */
}

table.grid th {
	padding-right:	3em;
	text-align:			left;
	white-space:		normal; 
}

table.grid td {
	text-align:			left;
	white-space:		normal; 
}

table.stripe tr:nth-of-type(odd) {
  background-color:#ccc;
}


/* Styles for News */

h3 {
	color:	#33c;
}

.news_image {
	float: left;
	margin-right: 20px;
}

.news_image.img {
	float: left;
}

.news_intro {
	margin-left: 20px;
	padding-left: 20px;
}

.news_intro {
	text-align: left;
}

/*
.news_intro {
	clear: left;
}

.news_intro.p {
	float: left;
}
*/


/* START:form */
/* Styles for order form */

.sfxmw_form fieldset {
  background: #eef;
}

.sfxmw_form legend {
  color: #ddf;
  background: #114;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.sfxmw_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.sfxmw_form select, .sfxmw_form textarea, .sfxmw_form input {
  margin-left: 0.5em;
}

.sfxmw_form .submit {
  margin-left: 4em;
}

.sfxmw_form div {
  margin: 0.5em 0;
}
/* END:form */

/* START:i18n */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}
/* END:i18n */


/* ********** For iPhone - set width or text will be too small to read ********** */
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{	
	body {
		width:	640px;
	}

	#banner_addr {
		display: none;
	}
}


/* ********** < 800px Wide or iPhone or iPad in Portrait mode ********** */
@media (max-width: 800px),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (max-device-width: 1024) and (orientation: portrait)
{	
	body {
		margin: 0px;
		padding: 0px;
	}
		
	#banner {
		background: #fff;
		border-bottom: 2px solid;
		font: small-caps "Times New Roman", serif;
		color: #33c;
		text-align: center;
	}	
	
	#columns {
		margin: 0px;
		padding: 0px;
	}	
	
	#main {
		clear:	both;
		margin-left: 0px; 
		border-right: none;
	}
	
	#side {
		float:					none;
		/*
		padding-top: 		.5em;
		padding-bottom: .5em;
		*/
		margin: 0px;
		padding: 0px;
		width:					auto;
		font-family: 		verdana, arial, helvetica, sans-serif;
		/* text-align:			center; */
		/* font-family: 		"Times New Roman", Times, serif; */	
		background: 		#11a;
		/* border: 1px solid red; */
	}
		
	#side_img, #forms, #feedback, #links {
		display: none;
	}	

	#nav {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	#nav li {
		float: left;
		padding: .5em .5em .5em .5em;
		border-left: 1px solid white;
	}

	#nav li.first {
		border-left: 0px;
	}

}
