<h2 id="onlinegiving">Giving Opportunities</h2>

<div class="NewsItems">

	<h3 id="collection">General Collection</h3>
	<%= image_tag("sfx_church_inside.jpg", :title => "Inside Saint Francis Xavier Church") %>
	<p>
	The General Collection is used for the day-to-day operation of the parish and its various programs aimed to serve the spiritual, emotional, intellectual and physical needs of its parishioners. You may set up a one-time or recurring donation to our parish.
	</p>
	<div class="clear">&nbsp;</div>
	<div class="centerDiv">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="R78UU84RF7XRJ">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to donate online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
    <br/>

<hr />

	<h3 id="legacy">Legacy Fund</h3>
	<%= image_tag("sfx_church_street.jpg", :title => "Inside Saint Francis Xavier Church") %>
	<p>
      The Legacy Fund is restricted for those special projects that support the growth, expansion and formation of St. Francis Xavier as determined and approved by the Parish Council and Pastor.  You may set up a one-time or recurring donation to this fund.
    </p>
	<div class="clear">&nbsp;</div>
	<div class="centerDiv">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="8PPR88NM528GE">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

<hr />


	<h3 id="depaul">St. Vincent de Paul</h3>
	<%= image_tag("helping-hand.jpg", :title => "St. Vincent de Paul Helping Hands") %>
	<p>
	Saint Francis Xavier's chapter of Saint Vincent de Paul provides spiritual and material assistance to those in need who are parishioners or others, so lives can be lived with dignity during times of need and stress.  Assistance may take the form of intervention, advocacy, consultation or monetary aide.  You may set up a one-time or recurring donation to this ministry.
	</p>
	<div class="clear">&nbsp;</div>
	<div class="centerDiv">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="TGQZCW9WXTS9Q">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to donate online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
    <br/>


<hr />

<br/>


</div>
<p class="smallTextBlue">All online donations are controlled by PayPal, giving you the most flexible and safest way to control your one-time or recurring donations.</p>
<br/>
