<h1>Forms</h1>

<div class="forms">
	<h2>Stewardship Forms</h2>
	<ul>
    <li><a href="forms/2012StewardshipIntentionForm.pdf" target="forms">2012 Stewardship Intention Form</a></li>
    <li><a href="forms/2012MinistryOpportunities.pdf" target="forms">2012 Ministry Opportunities</a></li>
    <li><a href="forms/2012TreasureForm.pdf" target="forms">2012 Treasure Form</a></li>
    <li><a href="forms/2012MinistryCatalog.pdf" target="forms">2012 Ministry Catalog</a></li>
	</ul>
	<h2>Religious Education Forms</h2>
	<ul>
    <li><a href="forms/REHandbookForm.pdf" target="forms">RE Handbook Form</a></li>
    <li><a href="forms/REHandbookForm2.pdf" target="forms">RE Handbook Form (Alternate)</a></li>
    <li><a href="forms/RERegistration.pdf" target="forms">RE Registration Form</a></li>
	</ul>
	<h2>Other Forms</h2>
	<ul>
    <li><a href="forms/NewMemberForm.pdf" target="forms">New Member Form</a></li>
    <li><a href="forms/PhotoReleaseForm.pdf" target="forms">Photo Release Form</a></li>
    <li><a href="forms/VolunteerBackgroundForm.pdf" target="forms">Volunteer Background Form</a></li>
    <li><a href="forms/PermissionForm.pdf" target="forms">Generic Permission Form</a></li>
	</ul>
	<h2>Other PDF Documents</h2>
	<ul>
    <li><a href="forms/CatholicismFlyer.pdf" target="forms">Catholicism Flyer</a></li>
    <li><a href="forms/RCIASchedule.pdf" target="forms">RCIA Schedule</a></li>
    <li><a href="forms/TGIFCalendar.pdf" target="forms">TGIF Calendar</a></li>
	</ul>
	
	<br />
	<br />
	<br />
	<br />
</div>