<h1>Forms and Documents</h1>

<div class="forms">
	<p>
		This page contains a number of forms used at St. Francis Xavier.  
		Most of these forms are designed to be printed, filled out, and then returned to the parish office,
		or dropped in the collection basket at a weekend mass.  
		If you can't find a particular form you are looking for,
		please use the <%= link_to 'Contact Us', contact_path %> page and send a note to the parish office.
		There are also a few miscellaneous documents included at the bottom of this page.
	</p>	
	<h2>General Forms</h2>
	<ul>
    <li><a href="forms/NewMemberForm.pdf" target="forms">New Member Form</a></li>
    <li><a href="forms/AutoWithdrawalForm.pdf" target="forms">Auto Withdrawal Form</a></li>
    <li><a href="forms/PhotoReleaseForm.pdf" target="forms">Photo Release Form</a></li>
    <li><a href="forms/VolunteerBackgroundForm.pdf" target="forms">Volunteer Background Form</a></li>
    <li><a href="forms/PermissionForm.pdf" target="forms">Generic Permission Form</a></li>    
    <li><a href="forms/WhyCatholicSignUpForms.pdf" target="forms">Why Catholic Sign Up Form</a></li>
    <li><a href="forms/CMCBrochure.pdf" target="forms">Catholic Men's Conference Brochure</a></li>
    <li><a href="forms/WalkathonPledgeForm.pdf" target="forms">Walkathon Pledge Form</a></li>
	</ul>
	<h2>Stewardship Forms</h2>
	<ul>
    <li><a href="forms/2012StewardshipIntentionForm.pdf" target="forms">2012 Stewardship Intention Form</a></li>
    <li><a href="forms/2012MinistryOpportunities.pdf" target="forms">2012 Ministry Opportunities</a></li>
    <li><a href="forms/2012TreasureForm.pdf" target="forms">2012 Treasure Form</a></li>
    <li><a href="forms/2012MinistryCatalog.pdf" target="forms">2012 Ministry Catalog</a></li>
	</ul>
	<h2>Religious Education Forms</h2>
	<ul>
    <li><a href="forms/REHandbookForm.pdf" target="forms">RE Handbook Form</a></li>
    <li><a href="forms/REHandbookForm2.pdf" target="forms">RE Handbook Form (Alternate)</a></li>
    <li><a href="forms/RERegistration.pdf" target="forms">RE Registration Form</a></li>
	</ul>
	<h2>Vacation Bible School Forms</h2>
	<ul>
    <li><a href="forms/VBSRegistration2012.pdf" target="forms">VBS Registration 2012 Form</a></li>
	</ul>
	<h2>Other PDF Documents</h2>
	<ul>
    <li><a href="forms/CatholicismFlyer.pdf" target="forms">Catholicism Flyer</a></li>
    <li><a href="forms/RCIASchedule.pdf" target="forms">RCIA Schedule</a></li>
    <li><a href="forms/TGIFCalendar.pdf" target="forms">TGIF Calendar</a></li>
	</ul>
	
	<br />
	<br />
	<br />
</div>