<h1>Forms</h1>

<div class="forms">
	<h3>Stewardship Forms</h3>
	<ul>
     <li><a href="forms/2012StewardshipIntention.pdf" target="forms">2012 Stewardship Intention Form</a></li>
     <li><a href="forms/2012MinistryOpportunities.pdf" target="forms">2012 Ministry Opportunities</a></li>
     <li><a href="forms/2012TreasureForm.pdf" target="forms">2012 Treasure Form</a></li>
	</ul>
	<h3>Other Forms</h3>
	<ul>
     <li><a href="forms/NewMemberForm.pdf" target="forms">New Member Form Form</a></li>
	</ul>
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
</div>