<h1>Fr. Dale Cieslik</h1>

<%= image_tag("fr_dale_cieslik.jpg") %>

<p>
	Father Dale was born on May 2, 1955 in Lebanon, KY. 
	He is the son of Stanley and Emogene Thompson Cieslik.  
	He has a younger sister and brother, three nieces and one nephew.  
	<br />
	<br />
	He went to St. Ignatius Grade School, Southern High School (class of 1973), 
	St. Meinrad College Seminary (BA in History in 1978) 
	and St. Meinrad School of Theology (Master of Divinity in 1982), both in Indiana.  
	He was ordained a deacon by Archbishop Thomas McDonough in 1981 and a priest by Archbishop Thomas Kelly, 
	OP on May 22, 1982. 
	<br />
	<br />
	Parishes in which he has served: 
	<br />
	<ul>
	<li>1982-1983:  St. John Vianney and St. Leo the Great Churches, Louisville</li>
	<li>1983-1986:  St. Rita Church, Louisville</li>
	<li>1986-1989:  St. Francis of Assisi Church, Louisville</li> 
	<li>1989-1994:  Pastor: St. Pius X Church, Louisville</li>
	<li>1994-2002:  Chancellor and Archivist of the Archdiocese of Louisville</li>
	<li>2002-2008:  Pastor: St. Leonard Church, Louisville 2008-2012:  Pastor: St. Elizabeth Ann Seton Church, Louisville</li>
	<li>2012-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  Pastor of All Saints Church, Taylorsville and St. Francis Xavier Church, Mt. Washington</li>
  </ul>

	<br />
	Other assignments: 
	<br />
	<ul>
	<li>Archivist of the Archdiocese: 1994-present</li> 
	<li>Priests Personnel Board: 2010-present</li> 
	<li>Chaplain, Bellarmine University Men's Basketball Team: 2005-present</li> 
  </ul>

	<br />
	Fr. Dale says his work as an archivist is his first love no matter where he is serving.  
	He helped create The History Center (our archdiocesan museum at the Cathedral of the Assumption) 
	as well as the archives itself, which is housed in the Maloney Center.  
	<br />
	<br />
	He has many, many hobbies of collecting: vinyl record albums, football cards, old magazines and postcards. 
	<br />
	<br />
	Fr. Dale says he is neither a U of L or UK fan ... I am a Bellarmine U fan! 	
</p>

<br />
