<h1>General Information</h1>

<div class="nav2">

    <a href="#address">Address</a> |
    <a href="#hours">Office Hours</a> |
    <a href="#phone">Phone Numbers</a> |
    <a href="#staff">Staff</a> |
    <a href="#sacraments">Sacraments</a> |
    <a href="#membership">Parish Membership</a> |
    <a href="#rcia">RCIA</a> |
    <a href="#re">Religious Education</a> |
    <a href="#cemetery">Cemetery</a> |
    <a href="#bulletin">Sunday Bulletin</a>

</div>

<p style="color:red">
NOTE: This page was copied from our old website.  
Need to review the content and then work on a better presentation.
</p>

    <h3 id="address">Address</h3>
	 <div id="shift_right">
    <p>
        155 Stringer Lane<br />
        Mount Washington, KY  40047-7354<br />
        <a href="http://maps.google.com/maps?hl=en&q=155+stringer+lane,+mt.+washington,+ky"
           target="other">
        Map &amp; Directions</a>
    </p>
	 </div>
	
    <h3 id="hours">Office Hours</h3>
	 <div id="shift_right">
    <table class="grid">
        <tr>
        	<th width="25%">Monday - Thursday</th><td>8:30 a.m. - 4:00 p.m.</td>
        </tr>
        <tr>
        	<th>Friday</th><td>8:30 a.m. - Noon</td>
        </tr>
    </table>
	 </div>
	
    <h3 id="phone">Phone Numbers</h3>
	 <div id="shift_right">
    <table class="grid stripe">
        <tr>
        <th width="25%">Parish Office</th><td>(502) 538.4933 or (502) 955.5366</td>
        </tr>
        <tr>
        <th>Fax</th><td>(502) 955.0449</td>
        </tr>
        <tr>
        <th>Religious Ed.</th><td>(502) 538.0672</td>
        <tr>
        <th>Parish Hall</th><td>(502) 538.0674</td>
        </tr>
    </table>
	 </div>

    <h3 id="staff">Staff</h3>
	 <div id="shift_right">
    <table class="grid stripe">
        <tr>
        <th width="60%">Pastor</th><td>Rev. R. Paul Beach</td>
        </tr>
        <tr>
        <th>Permanent Deacon</th><td>Gerry Mattingly</td>
        </tr>
        <tr>
        <th>Pastoral Minister for Formative Spirituality</th><td>Lisa Downs</td>
        </tr>
        <tr>
        <th>Director of Music</th><td>Billy Blake</td>
        </tr>
        <tr>
        <th>Business Manager</th><td>Helen Hagan</td>
        </tr>
        <tr>
        <th>Pastoral Assistant to Stewardship</th><td>Monique Becker</td>
        </tr>
        <tr>
        <th>Coordinator of Religious Education</th><td>Darlene Fowler</td>
        </tr>
        <tr>
        <th>Secretary</th><td>Nancy Almony</td>
        </tr>
        <tr>
        <th>Maintenance</th><td>Jerry Mudd</td>
        </tr>
    </table>
	 </div>
	
    <h3 id="sacraments">Sacraments</h3>
	 <div id="shift_right">
    <dl>
         <dt>of Baptism</dt>
         <dd>Bi-monthly.  Call the parish office for registration information
             and date.</dd>

         <dt>of Reconciliation</dt>
         <dd>Saturday at 4:00 p.m. until all are heard, or upon request
             at any time.</dd>

         <dt>of Matrimony</dt>
         <dd>Contact the Pastor at least six (6) months prior to the
             anticipated date.</dd>

         <dt>of the Sick</dt>
         <dd>Anointing by request and special times.
             Please call the parish office.</dd>
    </dl>
	 </div>
	
    <h3 id="membership">Parish Membership</h3>
	 <div id="shift_right">
    <p>
        We welcome all newcomers moving into our parish.  Please call the
        parish office to make an appointment to register with Monique Becker (538-4933).
        If you are moving from the parish, please contact the parish office.
    </p>
	 </div>
	
    <h3 id="rcia">RCIA</h3>
	 <div id="shift_right">
    <p>
        The Rite of Christian Initiation for Adults is for those who are interested
		in joining the Catholic faith.  Call Lisa Downs for more information.
    </p>
	 </div>
	
    <h3 id="re">Religious Education</h3>
	 <div id="shift_right">
    <p>
        Preparation for Sacraments of Reconciliation, Eucharist, and Confirmation
		for school-aged students.  Call Darlene Fowler for more information.
    </p>
	 </div>
	
    <h3 id="cemetery">St. Francis Xavier Cemetery</h3>
	 <div id="shift_right">
    <p>
        Call the parish office for information on plots.
    </p>
	 </div>
	
    <h3 id="bulletin">Sunday Bulletin</h3>
	 <div id="shift_right">
    <p>
        Articles must be submitted in writing by 9:00 am on Monday.  
        Inserts must be submitted - copy ready - by 12:00 noon on Wednesday.
		<br />
    </p>
    <br />
	 </div>
	