<h1>General Information</h1>

<div class="nav2">

  <a href="#mass">Mass Schedule</a> |
  <a href="#nursery">Nursery</a> |
  <a href="#address">Address</a> |
  <a href="#hours">Office Hours</a> |
  <a href="#phone">Phone Numbers</a> |
  <a href="#staff">Staff</a> |
  <a href="#council">Pastoral Council</a> |
  <a href="#sacraments">Sacraments</a> |
  <a href="#membership">Parish Membership</a> |
  <a href="#spiritual">Spiritual Direction</a> |
  <a href="#rcia">RCIA</a> |
  <a href="#re">Religious Education</a> |
  <a href="#cemetery">Cemetery</a> |
  <a href="#bulletin">Sunday Bulletin</a>

</div>

<h2 id="mass">Mass Schedule</h2>
<div id="shift_right">
  <table class="grid stripe">
    <tr>
    <th>Tuesday</th><td>8:30am</td>
    </tr>
    <tr>
    <th>Friday</th><td>8:30am</td>
    </tr>
    <tr>
    <th>Saturday</th><td>5:00pm</td>
    </tr>
    <tr>
    <th>Sunday</th><td>7:00am &amp;<br/>9:00am</td>
    </tr>
  </table>
</div>

<h2 id="nursery">Nursery</h2>
<div id="shift_right">
  <p>
	  During the Saturday 5:00pm Mass and Sunday 9:00am Mass in the Religious Education Building.
	  Crawlers to 3 year olds.
  </p>
</div>
	
<h2 id="address">Address</h2>
<div id="shift_right">
  <p>
  	155 Stringer Lane<br />
    Mount Washington, KY  40047-7354<br />
		<%= link_to 'Directions', directions_path %>
  </p>
</div>
	
<h2 id="hours">Office Hours</h2>
<div id="shift_right">
  <table class="grid stripe">
    <tr>
    <th>Monday - Thursday</th><td>8:30 a.m. - 4:00 p.m.</td>
    </tr>
    <tr>
    <th>Friday</th><td>8:30 a.m. - Noon</td>
    </tr>
  </table>
</div>
	
<h2 id="phone">Phone Numbers</h2>
<div id="shift_right">
  <table class="grid stripe">
  	<tr>
    <th>Parish Office</th><td>(502) 538.4933 or (502) 955.5366</td>
    </tr>
    <tr>
    <th>Fax</th><td>(502) 955.0449</td>
    </tr>
    <tr>
    <th>Religious Ed. Building</th><td>(502) 538.0672</td>
		</tr>
    <tr>
    <th>Religious Ed. Office</th><td>(502) 538.4933</td>
		</tr>
    <tr>
    <th>Parish Hall</th><td>(502) 538.0674</td>
    </tr>
  </table>
</div>

<h2 id="staff">Staff</h2>
<div id="shift_right">
  <table class="grid stripe">
    <tr>
    <th>Pastor</th><td><%= link_to "The Reverend Robert Dale Cieslik", fr_dale_path %></td>
    </tr>
    <tr>
    <th>Permanent Deacon</th><td>Gerry Mattingly</td>
    </tr>
    <tr>
    <th>Pastoral Associate</th><td>Lisa Downs</td>
    </tr>
    <tr>
    <th>Coordinator of Religious Education</th><td>Darlene Fowler</td>
    </tr>
    <tr>
    <th>Business Manager</th><td>Helen Hagan</td>
    </tr>
    <tr>
    <th>Director of Music</th><td>Nicole Casteel</td>
    </tr>
    <tr>
    <th>Stewardship</th><td>Monique Becker</td>
    </tr>
    <tr>
    <th>Maintenance</th><td>Jerry Mudd</td>
    </tr>
    <tr>
    <th>Secretary</th><td>Nancy Almony</td>
    </tr>
  </table>
</div>
	
<h2 id="council">Pastoral Council</h2>
<div id="shift_right">
  <table class="grid stripe">
    <tr>
    <th>Ex-Officio</th><td>The Reverend Robert Dale Cieslik</td>
    </tr>
    <tr>
    <th>Secretary</th><td>Rhonda Abner</td>
    </tr>
    <tr>
    <th>Chair</th><td>Louis Leppert</td>
    </tr>
    <tr>
    <th>Co-Chair</th><td>Michael Anstead</td>
    </tr>
    <tr>
    <th>Members at large:</th>
		<td>Brittany Ballard<br/>
			  Pat Cheney<br/>
				Cory Feger<br/>
				Aaron Kelty<br/>
				Terry Loftis<br/>
				Savannah Mattingly<br/>
				Troy Pitcock<br/>
				Bobby Shepherd
		</td>
  </table>
</div>
	
<h2 id="sacraments">Sacraments</h2>
<div id="shift_right">
  <dl>
	  <dt>of Baptism</dt>
	  <dd>Call the parish office for registration information.</dd>

	  <dt>of Reconciliation</dt>
	  <dd>Saturday at 4:00 p.m. until all are heard, or upon request
	      at any time.</dd>

	  <dt>of Matrimony</dt>
	  <dd>Contact the Pastor at least six (6) months prior to the
	      anticipated date.</dd>

	  <dt>of the Sick</dt>
	  <dd>Anointing by request and special times.
	      Please call the parish office.</dd>
  </dl>
</div>
	
<h2 id="membership">Parish Membership</h2>
<div id="shift_right">
  <p>
	  We welcome all newcomers moving into our parish.  Please call Monique Becker
	  in the parish office to make an appointment to register.
	  If you are moving from the parish, please contact the parish office.
  </p>
</div>
	
<h2 id="spiritual">Spiritual Direction</h2>
<div id="shift_right">
  <p>
	  Spiritual Direction is a way of being with another.  It is sacred time.
		Call Lisa Downs in the parish office for appointments and more information.
  </p>
</div>
	
<h2 id="rcia">RCIA</h2>
<div id="shift_right">
  <p>
	  The Rite of Christian Initiation for Adults is a year round process. 
	  For those who are interested in joining the Catholic faith, 
	  call Lisa Downs in the parish office for more information.
  </p>
</div>
	
<h2 id="re">Religious Education</h2>
<div id="shift_right">
  <p>
	  Wednesday 6:45pm to 8:00pm<br /><br />
		Preparation for Sacraments of Reconciliation, Eucharist, and Confirmation
		for school-aged students.  Call Darlene Fowler for more information.
  </p>
</div>
	
<h2 id="cemetery">St. Francis Xavier Cemetery</h2>
<div id="shift_right">
  <p>
	  Call the parish office for information on plots.
  </p>
</div>
	
<h2 id="bulletin">Sunday Bulletin</h2>
<div id="shift_right">
  <p>
	  Articles must be submitted in writing by 9:00 am on Monday.  
	<br />
  </p>
  <br />
</div>
	