<h1>General Information Page</h1>
<p>
Misc. information will go here...
</p>
<p>Find me in app/views/home/general.html.erb</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
