<h1>Home Page</h1>
<p>
Home of St. Francis Xavier Website
</p>
<p>Find me in app/views/home/index.html.erb</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
