<h1>Links</h1>

<div class="links">


	    <h3>Catholic Sites</h3>
	    <ul>
	        <li><a href="http://www.vatican.va/phome_en.htm" target="rsite">The Vatican</a></li>
	        <li><a href="http://www.nccbuscc.org/" target="rsite">United States Conference of Catholic Bishops</a></li>
	        <li><a href="http://www.archlou.org/" target="rsite">Archdiocese of Louisville</a></li>
	        <li><a href="http://www.catholicweb.com/" target="rsite">CatholicWeb.com</a></li>
	        <li><a href="http://www.americancatholic.org/" target="rsite">AmericanCatholic.org</a></li>
	        <li><a href="http://www.ccky.org/" target="rsite">Catholic Conference of Kentucky</a></li>
	        <li><a href="http://www.catholiccharitieslouisville.org/" target="rsite">Catholic Charities of Louisville</a></li>
	        <li><a href="http://www.catholicextension.org/" target="rsite">Catholic Extension</a></li>	        
	        <li><a href="http://www.usccb.org/bible/readings/120511.cfm" target="rsite">Readings for Today</a></li>
	        <li><a href="http://www.usccb.org/bible/readings/121111.cfm#gospel" target="rsite">Next Sunday's Gospel</a></li>
			</ul>

	    <h3 id="bulletins">Recent Bulletins</h3>
	    <ul>
	      <li><a href="http://content.seekandfind.com/bulletins/01/1058/20111204B.pdf" target="bulletin">Dec 04 2011</a></li>
	      <li><a href="http://content.seekandfind.com/bulletins/01/1058/20111127B.pdf" target="bulletin">Nov 27 2011</a></li>
	      <li><a href="http://content.seekandfind.com/bulletins/01/1058/20111120B.pdf" target="bulletin">Nov 20 2011</a></li>
	    </ul>

	    <h3 id="other">Other Sites</h3>
	    <ul>
	        <li><a href="http://www.kyhometown.com/mountwashington" target="_blank">
	             City of Mt. Washington</a></li>
	        <li><a href="http://www.bullittcounty.ky.gov/" target="_blank">
	             Bullitt County</a></li>

	        <li><a href="http://beta.weather.com/weather/local/40047?lswe=40047&lwsa=WeatherLocalUndeclared&from=whatwhere" target="other">
	             Weather from The Weather Channel</a></li>
	        <li><a href="http://www.wunderground.com/US/KY/Mount_Washington.html" target="other">
	             Weather from wunderground.com</a></li>

	        <li><a href="http://maps.google.com/maps?hl=en&q=155+Stringer+Ln,+Mt+Washington,+KY+40047&btnG=Search&ll=38.04292,-85.541697&spn=0.01575,0.042915" target="other">
	             Maps &amp; Directions from Google</a></li>
	        <li><a href="http://www.mapquest.com/maps/map.adp?address=155%20Stringer%20Ln%2e&city=Mount%20Washington&state=KY" target="other">
	             Maps &amp; Directions from Mapquest</a></li>
	    </ul>
	
			<br />
			<br />
			<br />
</div>