<h1>News</h1>

<div class="news">
	<div class="news_image">
		<%= image_tag("story1.jpg") %>
	</div>
	<div class="news_intro">
		<p>Archbishop Kurtz visits St. Francis Xavier for the Installation of Fr. Paul Beach...</p>
	</div>
</div>

<br class="clear" />

<div class="news">
	<div class="news_image">
		<%= image_tag("story2.jpg") %>
	</div>
	<div class="news_intro">
		<p>
		The New Roman Missal - 
    Find more information on the New Roman Missal and resources that are available both locally and nationally.
		</p>
	</div>
</div>

<br class="clear" />

<br /><br /><br />