<div class="centerDiv">
 	<p> Thank you for participating in the Saint Francis Xavier Church Super Raffle. </p> 
 
 
 	  <p>Please check back here in the fall when we have our next raffle.</p>
 
</div>
<br/> 
