 <div class="centerDiv">
 	<p> Thank you for participating in the Saint Francis Xavier Church Super Raffle this past year. </p> 
 
 
 	  <p>Please check back here in the fall of 2018 when we have our next raffle.</p>
 
</div>
<br/> 
 
