<h2 id="stewardship"><a class="noUnderline" href="/stewardship_form">Stewardship Intention</a></h2>


<div class="centerDiv">
      <%= image_tag("scroll_psalm.png", :title => "Psalm 116") %>
</div>

<div id="shift_right">
  <p>
    The above quote - from psalm 116 - speaks of the need incumbent upon us who have faith, to give thanks to Almighty God. As people of faith, we are called to recognize the many blessings that we have received from God, who is so generous towards us. God, who is the author of our life and giver of all good gifts, has blessed each of us abundantly. As the author of psalm 116 gives witness, it is part of our human nature to want to give thanks. Stewardship then is the response that we make after recognizing these gifts. Stewardship is what we do after we say "I believe."
  </p>
  <p>
    We rely on parishioner gifts of time, talent and treasure to provide the resources needed to carry on the mission of St. Francis Xavier Church. Therefore, please discern His God-given gifts and prayerfully consider how to give back in an effort to serve Him in gratitude. By offering back to God the gifts and talents that He has so generously bestowed on us, we can serve to build up His Kingdom here in our little corner of the world. May God continue to guide you and bless you as you discern the ways in which you are called to serve Him present in others!
  </p>
  <br/>
  <div class="centerDiv">
      <a href="/stewardship_form" ><%= image_tag("stewardship_button.png", :title => "SFXMW Blog") %></a>
      <p class="scripture">Please use supported browsers of Chrome, FireFox, Internet Explorer9,10, or Safari</p>
  </div>
</div>
<br/>
<br/>
<br/>


<div id="shift_right">
  <p>
  If you have questions about Online Stewardship, click <a href="/stewardship_help" target="_blank">here</a> to find out more information or <a href="/contact" target="_blank">contact us</a>.
  </p>
</div>
<br/>