<h2 id="stewardship_faq">Online Stewardship Question and Answers </h2>

<ul>
<li> <a href="#howItWorks">How does Online Stewardship work?</a></li>
<li> <a href="#supportedBrowsers">What web browsers are supported for Online Stewardship?</a></li>
<li> <a href="#allowCreditTithing">Does Online Stewardship allow for credit/debit card tithing?</a></li>
<li> <a href="#whyPayPal">Why is Saint Francis Xavier using PayPal?</a></li>
<li> <a href="#canICancel">Can I cancel my credit card tithing at anytime?</a></li>
<li> <a href="#controlBillDate">Why can I not control my PayPal recurring bill date?</a></li>
<li> <a href="#whyJotForm">I am seeing jotform.com in the URL after I submit my Stewardship Intention, what is JotForm?</a></li>
<li> <a href="#isDataSecure">Is my data secure?</a></li>
</ul>


<br/>
<h3 id="howItWorks">How does Online Stewardship work?</h3>
<div id="shift_right">
  <p>
    The Online Stewardship process is designed to allow for you to easily choose all the ministries with which you want to be involved, and to allow for you to designate how you would like to tithe to the church.

    The Web pages guide you through:
    <ol>
    <li> updating all of your Family census information </li>
    <li> selecting which ministries you or a family member may want to participate </li>
    <li> selecting how you would like to tithe to the church, through envelopes, bank withdrawal, or credit card </li>
    </ol>
    and once you submit your information, an email confirmation detailing your selections for Stewardship will be sent to you. 
  </p>
</div>

<br/>
<h3 id="supportedBrowsers">What web browsers are supported for Online Stewardship?</h3>
<div id="shift_right">
  <p>
    The Online Stewardship pages have been tested successfully with the following browsers:
      <ul>
        <li>Google's Chrome</li>
        <li>Windows's Internet Explorer version 9 and 10 </li>
        <li>Mozilla's FireFox version 25+ </li>
        <li>Apple's Safari version 6 </li>
      </ul>
     You should use one of the above browsers when filling out the Online Stewardship Form pages.
  </p>
</div>


<br/>
<h3 id="allowCreditTithing">Does Online Stewardship allow for credit/debit card tithing?</h3>
<div id="shift_right">
  <p>
    Yes, you can now setup a recurring (monthly only) payment to the Church via PayPal using the Online Stewardship Form.  When you
    select to pay by credit card, then you will get a chance to pick the monthly payment amount.  After you select the monthly payment 
    amount and click the blue button, you will then get redirected to paypal.com to complete the transaction, either by using your 
    existing PayPal account, or by creating a new PayPal account by just filling out the payment information with the credit/debit card you want to use.  This recurring 
    payment will only last for 12 months, after which, you can renew during next year's Stewardship program.
  </p>
</div>

<br/>
<h3 id="whyPayPal">Why is Saint Francis Xavier using PayPal?</h3>
<div id="shift_right">
  <p>
    The Church is using PayPal as its Online Merchant for Credit Card processing, since PayPal offers the security necessary for handling such sensitive data online.  When you make your monthly recurring payment to the church via PayPal, you will have full control over your account, the church will not have your credit card data - PayPal will.
  </p>
</div>

<br/>
<h3 id="canICancel">Can I cancel my credit card tithing at anytime?</h3>
<div id="shift_right">
  <p>
    Yes.  If you used your PayPal account, then you can log into your PayPal account, under your Profile setting to cancel the payment to the Church.  Or, you can contact the Church Office, and have them cancel your Credit Card payment. 
  </p>
</div>

<br/>
<h3 id="controlBillDate">Why can I not control my PayPal recurring bill date?</h3>
<div id="shift_right">
  <p>
    We are using the PayPal option of recurring monthly payments which means that PayPal wants to control the recurring bill date to be the same day the person fills out their payment information.  So, the day you fill out this Online Stewardship Form, and choose Credit Card option, then that is your recurring bill date - i.e. Fill out online stewardship with credit/debit card tithing on January 16, then expect the 16th of every month for the next year to have a draw on your credit/debit card from St. Francis Xavier. 
 </p>
</div>

<br/>
<h3 id="whyJotForm">I am seeing jotform.com in the URL after I submit my Stewardship Intention, what is JotForm?</h3>
<div id="shift_right">
  <p>
   JotForm.com is the third-party company the Church is using to handle all the Stewardship submissions online.  The JotForm company's database will hold the data from these online Stewardship submissions for a period of time until the data gets imported into the Church's Parish Data System.  All online data transmissions to JotForm will be secure. 
  </p>
</div>

<br/>
<h3 id="isDataSecure">Is my data secure?</h3>
<div id="shift_right">
  <p>
    All online information is securely posted to JotForm.com, and if you chose credit/debit card tithing, then a secure transmission to PayPal for you to enter your payment data.  Once you select the blue button to submit your Online Stewardship Intentions, you web browser will create a secure connection and then transmit data.  
  </p>
</div>



<br/>
