<h1>Welcome</h1>

<%= image_tag("altar_full.jpg") %>

<div class="welcome">
<p>
	Dear Friend,
	<br />
	<br />
	Welcome to the new web home of St. Francis Xavier Parish! 
	<br />
	<br />
	Our parish, located in Mount Washington, KY, 
	is a vibrant and faith-filled community of Roman Catholics who strive to put their faith into practice. 
	We accomplish this in our worship, especially the celebration of the Eucharist; in our study of God's word; 
	in our service to our brothers and sisters; and by our teaching and witness of the faith to our youth 
	and all of our community.  
	<br />
	<br />
	St. Francis Xavier Parish is a family of believers who strive to love one another as brother and sister in Christ. 
	Whether you are new to the area and are looking for a Church home or a long-time parishioner, 
	I welcome you to browse through these pages and to get to know our parish. 
	I welcome you to the many parish events that are taking place. 
	I invite you to join with us in our prayer and celebration of God's presence in the sacraments. 
	Together, may we support one another on our journey to God!
	<br />
	<br />
	In Christ,
	<br />
	<br />
	Fr. Paul Beach		
	<br />
	<br />
</p>

<br />
</div>