<h1>Welcome</h1>

<%= image_tag("altar_full.jpg") %>

<div class="welcome">
<p>
	Dear Friend,
	<br />
	<br />
	Greetings and welcome to the web site of St. Francis Xavier Catholic Parish!  
	And welcome to me fore I am the newest member of the staff having arrived here on June 20, 2012.  
	I look forward to getting to know all the parishioners and friends of St. Francis Xavier Church 
	as well as those who come to know us through this medium… that’s you!
	<br />
	<br />
	I invite you to stop by and enjoy the sincere hospitality and reflective prayer that we share.  
	If you happen to be looking for a faith family at this time, you might consider our parish as that 
	place and people.  All persons are most welcome to be a part of this fastest growing Catholic 
	community in the archdiocese.  Come pray, work and play with us!
	<br />
	<br />
	In the compassion and zeal of Jesus,
	<br />
	<br />
	Father Dale Cieslik, Pastor	
	<br />
	<br />	
</p>

	<%= link_to "Click here to read Fr. Dale's Bio", fr_dale_path %>	
<br />
<br />
</div>