<%= form_tag do |f| %>

  <div class="field">
    <%= label_tag :tweet, "Twitter Status:" %><br />
    <%= text_area_tag :tweet %>
  </div>
  <br />
  <div class="actions">
    <%= submit_tag "Send Tweet" %>
  </div>
  <br />
<% end %>
