<div class="Twitter">
<h1>Twitter Batch Update</h1>

The following News Items were posted to Twitter:
<br />	
<% @news_items.each do |news_item| %>	
	<%= news_item.summary %>
  <br />
<% end %>


<br />
<br />
<br />
<br />
<br />
</div>