
<div class="NewsItems">
	<%= display_news(@news_item, :h1, false, :normal) %>
</div>

<p>
Posted: <%= @news_item.post_at.strftime("%B %d, %Y") %>
</p>

<% if session[:user_id] %>
	<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<% end %>
<%= link_to 'Back', news_items_path %>
