<h1>Contact Us</h1>

<a href="mailto:frontoffice@sfxmw.com?subject=Parish Office (from website)">Parish Office</a>
<br />
<a href="mailto:pastor@sfxmw.com?subject=Pastor (from website)">Father Dale (pastor)</a>
<br />
<a href="mailto:news@sfxmw.com?subject=News Item Request (from website)">Request a News Item</a>
<br />
<a href="mailto:webmaster@sfxmw.com?subject=Parish Office (from website)">Website Feedback</a>
<br />

<br />